@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap");
@import url("https://raw.githubusercontent.com/filipelinhares/ress/master/ress.css");
*{
    margin:0;
    padding:0;
}

.product_title{
    margin:100px 0 0 100px;
    font-family: Noto Sans JP,sans-serif;
    color:rgb(82,81,81);

    h1{
        border-left: solid 10px skyblue;
        padding-left: 10px;
    }
}

table {
    margin:0 auto;
    margin-top:30px;
    border-collapse: collapse;
    border-spacing: 0;
    width: 95%;

    tr {
      border: solid 3px #eee;
      cursor: pointer;
      color:rgb(82,81,81);
    }

    th,
    td {
      border-right:solid 3px #eee;
      text-align: center;
      color:rgb(82,81,81);
      width: 15%;
      padding: 15px 0;
    }
}

.pagination{
    text-align: center;
    width: 70%;
    margin: 0 auto;
    margin-top:30px;
    justify-content: center;
}